reject_filename('Do not add cache files', /Thumbs\.db\z/, /\AA/)
reject_filename('Do not add temporary files', '~', /\AA/)
reject_filename('Do not add temporary files', /\.bak\z/, /\AA/)
reject_filename('You should remove cache files', /Thumbs\.db\z/, /\AU/)
reject_filename('You should remove temporary files', '~', /\AU/)
reject_filename('You should remove temporary files', /\.bak\z/, /\AU/)
