# -*- coding: utf-8 -*-

system_files_basename = [
  '.DS_Store',
  'Thumbs.db',
]
basename ADDED, *system_files_basename do
  reject 'Do not add system files'
end
basename UPDATED, *system_files_basename do
  reject 'You should remove system files'
end

temporary_files_pattern = [
  '#',
  '~',
  /\.bak\z/,
]
regexp ADDED, *temporary_files_pattern do
  reject 'Do not add temporary files'
end
regexp UPDATED, *temporary_files_pattern do
  reject 'You should remove temporary files'
end

regexp UPDATED, /(?:\A|\/)tags\// do
  reject 'Do not change files under tags'
end
